<h2>My E-commerce</h2>

<ul>
    <li>
        <a href="/api/products">Products</a>
    </li>
    <li>
        <a href="/api/carts">Carts</a>
    </li>
    <li>
        <a href="/chat">Chat</a>
    </li>
</ul>